<div class="wikidoc"><h1>CJK Decomposition Data</h1>
The CJK Decomposition Data File is a graphical analysis of the approx 75,000 Chinese/Japanese characters in Unicode. The <a href="https://cjkdecomp.codeplex.com/releases/view/92801">latest version is 0.4.0</a>, updated on 15 August 2012.<br /><br />The download file is a utf8 text file. The data file is totally my own work, and distributed under 6 licenses, of which you only need choose one:<br />
<ul><li>the Apache software licence 2.0 <a href="http://www.apache.org/licenses/LICENSE-2.0.html">http://www.apache.org/licenses/LICENSE-2.0.html</a></li></ul>

<ul><li>the LGPL 3.0 licence <a href="http://www.gnu.org/licenses/lgpl.html">http://www.gnu.org/licenses/lgpl.html</a></li></ul>

<ul><li>the Creative Commons by SA 3.0 licence <a href="http://creativecommons.org/licenses/by-sa/3.0/legalcode">http://creativecommons.org/licenses/by-sa/3.0/legalcode</a></li></ul>

<ul><li>the MIT license <a href="http://opensource.org/licenses/MIT">http://opensource.org/licenses/MIT</a></li></ul>

<ul><li>the Open Data Commons Attribution License (ODC-By) v1.0 <a href="http://opendatacommons.org/licenses/by/1.0/">http://opendatacommons.org/licenses/by/1.0/</a></li></ul>

<ul><li>the Eclipse Public License <a href="http://www.eclipse.org/legal/epl-v10.html">http://www.eclipse.org/legal/epl-v10.html</a></li></ul>
The data comprises the 36 strokes (0x31c0..0x31e3), the 115 radicals (0x2e80..0x2ef3, except 0x2e9a), the 20924 unified characters (0x4e00..0x9fbb), the 12 unique characters from the compatibility range (0xf900..0xfad9), the 6582 extension A characters (0x3400..0x4db5), the 42711 extension B characters (0x20000..0x2a6d6), the 4149 extension C characters (0x2a700..0x2b734), and the 222 extension D characters (0x2b740..0x2b81d).<br /><br />Each record has 3 fields, viz, the character being defined, the type of decomposition, and a list of zero or more constituent components, like so:<br /><span class="codeInline"> 的:a(白,勺) </span><br />The character being defined and the constituent components are either a Unihan token, in the basic or a supplemental plane, or a 5-digit number representing an intermediate decomposition not in Unicode. There are approx 10,000 such intermediate decompositions.<br /><br />If you need a font, you can use the <a href="http://fonts.jp/hanazono/">Hanazono font</a>.<br /><br />Only pictorial configurations are used, not semantic ones. Where characters have typeface differences I&#39;ve used the one provided by the Mainland Chinese contribution to Unicode. When there&#39;s more than one possible configuration, I&#39;ve selected one only.<br /><br />The possible configurations and their meanings are:<br /><table><tr><th> Code regex </th><th> Meaning </th><th> Number of possible constituents </th></tr>
<tr><td> c </td><td> component </td><td> 0 </td></tr>
<tr><td> m.* </td><td> modified in some way, e.g. me=equivalent, msp=special, mo=outline, ml=left radical version </td><td> 1 </td></tr>
<tr><td> w.* </td><td> second constituent contained within first in some way, e.g. w=within at the center, wbl=within at bottom left </td><td> 2 </td></tr>
<tr><td> ba|d </td><td> second between first moving across or downwards </td><td> 2 </td></tr>
<tr><td> lock </td><td> components locked together </td><td> 2 </td></tr>
<tr><td> s.* </td><td> first component surrounds second, e.g. s=surrounds fully, str=surrounds around the top-right </td><td> 2 </td></tr>
<tr><td> a </td><td> flows across </td><td> &gt;= 2 </td></tr>
<tr><td> d </td><td> flows downwards </td><td> &gt;= 2 </td></tr>
<tr><td> r.* </td><td> repeats and/or reflects in some way, e.g. refh=reflect horizontally, rot=rotate 180 degrees, rrefr= repeat with a reflection rightwards, ra=repeat across, r3d=repeat 3 times downwards, r3tr=repeat in a triangle, rst=repeat surrounding around the top </td><td> 1 </td></tr></table><br /><br />The s, a, d, and r codes may be followed by /t, /m, /s, or /o, to show whether the join touches, molds, snaps together, or overlaps, respectively.<br /><br />Some more work needs to be done, including reducing the quantity of intermediate components by removing duplicates, lowering the number of components in many sequences, reanalysis of decomposition configurations, and of course quality checking and corrections.<br /></div><div class="ClearBoth"></div>